name: Build Shared Library

on:
  workflow_call:
    inputs:
      goos:
        required: true
        type: string
      goarch:
        required: true
        type: string
      upload:
        required: false
        type: string
        default: 'false'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          cache: false
          go-version: 1.25.x
      - name: Set common go env vars
        run: |-
          case $(go env GOARCH) in
          amd64) go env -w GOAMD64=v3 ;;   # 2013 and later; makes `go test -race` 15% faster
          arm64) go env -w GOARM64=v8.6 ;; # Apple M2 and later
          esac
          # Dump env for good measure
          go env
      - name: Ensure tests run regardless of cache
        run: go env -w GOFLAGS=-count=1
      - name: Generate
        run: go generate ./...
      - name: Test
        run: go test ./...
      - name: Check
        run: go vet ./...
      - name: Build libcue per README
        run: |-
          go build -o libcue.so -buildmode=c-shared
          go build -o libcue.a -buildmode=c-archive
      - name: Build shared library
        run: |
          GOOS=${{ inputs.goos }} \
          GOARCH=${{ inputs.goarch }} \
          scripts/build-libcue.sh
      - if: ${{ inputs.upload == 'true' }} 
        name: Upload built library
        uses: actions/upload-artifact@v4
        with:
          name: libcue-${{ inputs.goos }}-${{ inputs.goarch }}
          path: |
            libcue-*.so
            libcue-*.dylib
            libcue-*.dll
