name: Build Shared Library

on:
  workflow_call:
    inputs:
      goos:
        required: true
        type: string
      goarch:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.22.5'

      - name: Build shared library
        run: |
          GOOS=${{ inputs.goos }} \
          GOARCH=${{ inputs.goarch }} \
          scripts/build-libcue.sh

      - name: Upload built library
        uses: actions/upload-artifact@v4
        with:
          name: libcue-${{ inputs.goos }}-${{ inputs.goarch }}
          path: |
            libcue-*.so
            libcue-*.dylib
            libcue-*.dll
