name: CI Build

on:
  push:
    branches:
      - '**'
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        goos: [linux, darwin, windows]
        goarch: [amd64, arm64]

    uses: ./.github/workflows/build-shared.yml
    with:
      goos: ${{ matrix.goos }}
      goarch: ${{ matrix.goarch }}
