name: Build - Linux

on:
  push:
    branches:
      - '**'
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        goarch: [amd64, arm64]

    uses: ./.github/workflows/build-shared.yml
    with:
      goos: linux
      goarch: ${{ matrix.goarch }}
